@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    transition: all 0.2s ease;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: black;
    overflow: hidden;
}

.comment_block::-webkit-scrollbar
{
    width: 12px;
    background-color: #708090;
}

.comment_block::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: cadetblue;
}

.comment_block {
    width: 65%;
    height: 80%;
    margin: 0 auto;
    overflow: auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: slategray;
    padding-right: 60px;
    margin-top: 20px;
}
.create_new_comment {
    width: 65%;
    height: 20%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e6e6e6;
}
.create_new_comment .input_comment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: calc(100% - 75px);
}
.create_new_comment .input_comment input[type="text"] {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #f2f2f2;
}
.create_new_comment .input_comment input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #e6e6e6;
}
.create_new_comment .input_comment input[type="text"]::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 20px;

}
.comment_block .new_comment .user_comment {
    list-style-type: none;
}
.comment_block .new_comment .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 10px;
    margin-bottom: 1%;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #555;
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;
}
.comment_block .new_comment .comment_body.my_comment{
    margin-right: 10px;
    float: right;
}
.comment_block .new_comment .comment_body .replied_to {
    margin: 5px 0px;
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 5px;
}
.comment_block .new_comment .comment_body .replied_to p {
    padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
    color: #6495ed;
    margin-right: 2px;
}
.comment_block .new_comment .comment_details {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
}
.comment_block .new_comment .comment_details.my_comment {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}
.comment_block .new_comment .comment_details ul {
    list-style-type: none;
    font-size: 0;
}
.comment_block .new_comment .comment_details ul li {
    display: inline-block;
    padding: 5px;
    font-size: 0.7rem;
    color: #d9d9d9;
}
.comment_block .new_comment .delete:hover {
    color: #6495ed;
    text-decoration: underline;
    cursor: pointer;
}
.comment_block .new_comment .update:hover {
    color: #6495ed;
    text-decoration: underline;
    cursor: pointer;
}
.comment_block .new_comment .love:hover {
    color: #ff6347;
}

.user_comment {
    margin-top: 20px;
}
