.team-boxed {
    /*color:#313437;*/
    border-radius: 30px;
    background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    width: 80%;
}

.team-boxed p {
    color:#9fcdff;
}

.team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}

.team-boxed .intro p {
    margin-bottom:0;
}

.team-boxed .people {
    padding:50px 0;
}

.team-boxed .item {
    text-align:center;
}

.team-boxed .item .box {
    text-align:center;
    padding:30px;
    /*background-color:#fff;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /*margin-bottom:30px;*/
}

.team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color: #d0d0d0;
}

.team-boxed .item .email {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:11px;
}

.team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
}

.team-boxed .item img {
    max-width:160px;
    border-radius: 80%;
}

.team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
}

.team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
}

.team-boxed .social a:hover {
    opacity:1;
}

.item .box .user{
    grid-column: 1/4;
    grid-row: 1/2;
}
.item .box .info{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    word-break: break-word;
    overflow: auto;
    max-height: 279px;
}

.item .box .info::-webkit-scrollbar {
    width: 10px;
}
.item .box .info::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.item .box .info::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

@media(min-width: 767px){
    .item .box .user{
        grid-column: 1;
        grid-row: 1/2;
    }
    .item .box .info{
        grid-column: 2/4;
        grid-row: 1/2;
        text-align: left;
    }
}