
#sample {
    background-color: white;
}

.button__box {
    margin-left: 85px;
    padding-bottom: 10px;
    height: 90px;
}


.road__button {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}
.road__button  span{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}
.road__button  span:before,
.road__button  span:after{
    position: absolute;

    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

#road__button__lane span:before,
#road__button__lane span:after{
    content: "Add Lane";
}

#road__button__category span:before,
#road__button__category span:after{
    content: "Add Category";
}

#road__button__copy span:before,
#road__button__copy span:after{
    content: "Copy RoadMap";
}

.road__button  span:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}
.road__button  span:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}
.road__button  span:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}